

    <h2 class="search-title">編集</h2>
    <div class="edit-inner">
    <%= form_with(model: [@flower], url: "/flowers/#{@flower.id}", local: true) do |f| %>

    <div class="img-upload">
      <div class="weight-bold-text">
        画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"flower-image" %>
      </div>
    </div>
    <div class="previews">
    <div id="image-list" class="preview"></div>
    </div>

    <div class="new-flower">
      <div class="weight-bold-text">
        題名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"flower-text", id:"flower-name", placeholder:"題名", maxlength:"20" %>
      <div class="flower-explain">
        <div class="weight-bold-text">
          場所
          <span class="indispensable">任意</span>
        </div>
        <%= f.text_area :place, class:"flower-text", id:"flower-info", placeholder:"場所" ,maxlength:"20" %>
      </div>
    </div>

    <div class="flower-detail">
      <div class="weight-bold-text">詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"flower-category"}) %>
        <div class="weight-bold-text">
          カテゴリー2
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:subcategory_id, Subcategory.all, :id, :name, {}, {class:"select-box", id:"flower-subcategory"}) %>
      </div>
    </div>
    <br>
    <div class="send-btn-contents">
      <%= f.submit "編集する" ,class:"submit-btn button" %>
    </div>

  <% end %>
  </div>