



<div class="modal-wrapper" id = "seach-modal">
    <div class="modal">
      <div id="seach-form">
<h1>
  投稿検索
</h1>
<%= search_form_for @f, url: search_flowers_path do |f| %>
  <div><%= f.label :category_id_eq, 'カテゴリー' %></div>
  <%= f.collection_select :category_id_eq, Category.all, :id, :name,  include_blank: '指定なし' %>
  <br>
  <div><%= f.label :subcategory_id_eq, 'カテゴリー2' %></div>
  <%= f.collection_select :subcategory_id_eq, Subcategory.all, :id, :name, include_blank: '指定なし'%>
  <br>
  <%= f.submit 'カテゴリ検索', class:"submit-btn user-button" %>
  <% end %>
      </div>
      <br>

 <div>
<%= search_form_for @f, url: search_flowers_path do |f| %>
  <div><%= f.label :title_or_place_cont, 'キーワード' %></div>
  <%= f.search_field :title_or_place_cont, placeholder: 'キーワードで検索' %>
  <br>
  <%= f.submit 'キーワード検索', class:"submit-btn user-button" %>
  <% end %>
      </div>
      <br>

      <div>
      <a href="/flowers/arrival"><h3>新着一覧</h3><a>
      </div>
      <div class = "close-modal">
        <img src="/assets/close1.png" class="close-icon icons">
      </div>
    </div>
  </div>

<% if user_signed_in?%>
<%if @flowers != nil%>

  <div class="inner">
    <% @flowers.each do |flowers| %>
      <div class="items">
        <%= link_to flower_path(flowers.id) do %>
        <div class='item-imgs'>

          <%= image_tag(flowers.image, class: "item-img" ) %>

        </div>
        <p class='item-info'><%= flowers.title %></p>
        
        <p class="item-user">
        <%=flowers.user.nickname%></p>
        <p class="item-time"><%=flowers.created_at.to_s(:datetime_jp)%></p>
        
      

        <% end %>
        </div>
     <% end%>

     <%else%>
     <h1 class="search-title">表示できる投稿がありません</h1>
     <br>
     <p class="search-title">投稿を検索しましょう</p>
     <%end%>
  </div>
  <%else%>
  <%= render partial: "top" %>
<%end%>