<h1 class="search-title">
  検索結果
</h1>

<% if @results.length !=0 %>


  <div class="inner">
    <% @results.each do |flowers| %>
      <div class="items">
        <%= link_to flower_path(flowers.id) do %>
        <div class='item-imgs'>

          <%= image_tag(flowers.image, class: "item-img" ) %>

        </div>
        <p class='item-info'><%= flowers.title %></p>
        
        <p class="item-user">
        <%=flowers.user.nickname%></p>
        <p class="item-time"><%=flowers.created_at.to_s(:datetime_jp)%></p>
  <%end%>
  </div>
  <% end %>
<% else %>
 <h3 class="search-title">該当する投稿はありません</h3>
<% end %>
</div>