<h1>
  検索結果
</h1>
<%# 検索結果の個数で条件分岐 %>
<% if @results.length !=0 %>
  <% @results.each do |result| %>
    <td>
    <br>
    <div>
      <%= result.title %>
    </div>
    <div>
      <%= link_to flower_path(result.id) do %>
      <%= image_tag(result.image, class: "item-img" ) %>
    </div>
      <%= result.category_id %>
      <%end%>
  <% end %>
<% else %>
  該当する投稿はありません
<% end %>
<br>
<%= link_to 'トップページへ戻る', root_path %>