<div class="show-inner">

  <div class="show-items">
    <h2 class="show-content">
      <%= @flower.title %>
    </h2>

    <div class="show-imgs">
      <%= image_tag(@flower.image, class: "show-img") %>
    </div>
    <%if current_user.id != @flower.user_id%>
      <div class='star-btn' id="favo_<%= @flower.id %>">
      <%= render "favos/favo", flower: @flower %>
      </div>
    <%end%>

    <div class="show-content">
      <span><%= image_tag(url_for(controller: :skins, action: :show, id: @flower.user.icon_ids),size: "30x30")%></span>
      <a href="/users/<%=@flower.user.id%>"><%= @flower.user.nickname %></a>
      <div>
       <b>場所</b>
       <span><%= @flower.place %></span>
       </div>

        <div>
          <b class="detail-item">カテゴリー</b>
          <span class="detail-value"><%= @flower.category.name %></span>
        </div>
        <div>
          <b class="detail-item">カテゴリー2</b>
          <span class="detail-value"><%= @flower.subcategory.name %></span>
        </div>
        <div>
          <b class="detail-item">タグ</b>
          <% @flower.tags.each do |tag| %>
          <span class= 'badge badge-primary'><%= tag.name %></span>
          <% end %>
        </div>
  </div>

    <% if user_signed_in? && @flower.user.id == current_user.id%>
    <div class="show-content">
    <%= link_to edit_flower_path(@flower.id), method: :get, class: "item-red-btn" do%>
    <img src="/assets/edit.png" class="exit-icon icons">
    <%end%>
    <span class='or-text'>or</span>

    <img src="/assets/gomi.png" class="exit-icon icons destroy-btn">

    <div class="modal-wrapper" id = "destroy-modal">
    <div class="modal">
     <h2>削除しますか？</h2>
     <br>
     <%= link_to flower_path(@flower.id), method: :delete, class:'item-destroy' do%>
     <p>はい</p>
     <%end%>
     <br>
     <p class="close-modal">いいえ</p>
      <div class = "close-modal">
        <img src="/assets/close1.png" class="close-icon icons">
      </div>

    </div>
  </div>

   </div>
  <% end %>

</div>

