<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @flower.title %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag(@flower.image, class:"item-box-img") %>

    </div>

  <% if user_signed_in? && @flower.user.id == current_user.id%>
    <%= link_to '商品の編集', root_path, method: :get, class: "item-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除', root_path, method: :delete, class:'item-destroy' %>
   <% elsif  user_signed_in? && @flower.user.id != current_user.id%>
    <%= link_to '購入画面に進む', root_path , method: :get, class:"item-red-btn"%>
  <% end %>

    <div class="item-explain-box">
      <span><%= @flower.place %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @flower.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @flower.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @flower.subcategory.name %></td>
        </tr>
      </tbody>
    </table>
  </div>