<div class="devise-inner">
<h2 class="flower-new-title">ユーザー編集</h2>
    <%= form_with(model: @user, local: true) do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム</label>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"", maxlength:"40" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "変更", class: "user-button" %>
  </div>
  <% end %>

<%= link_to "戻る", :back %>
</div>
